[[source]]
name = "pypi"
url = "https://pypi.org/simple"
verify_ssl = true

[packages]
pandas = "*"
pyqt5 = "*"
pyqtchart = "*"
tzlocal = "*"
xlrd = "*"
requests = "*"
openpyxl = "*"
pillow = "*"
pycryptodomex = "*"
krakenex = "*"
pykrakenapi = "*"
pycoingecko = "*"

[dev-packages]
pyinstaller = "*"
setuptools = "*"
ipython = "*"
pyqtdeploy = "*"

[requires]
python_version = "3.7"
