[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
pandas = "*"
"pyqt5" = "*"
pyqtchart = "*"
tzlocal = "*"
pyinstaller = "*"
xlrd = "*"
requests = "*"
ipython = "*"
pyqtdeploy = "*"
openpyxl = "*"

[dev-packages]

[requires]
python_version = "3.7"
